<html>
  <!doctype html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css">
    <link href="/screen.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"><%= yield %></div>
  </body>
</html>
