body,
html {
  padding: 0;
  margin: 0;
}

footer {
  padding: 20px 0 40px 0;
}

.flex {
  display: flex;
}

article.card p:last-child {
  margin-bottom: 0;
}

article.card img + p {
  padding-left: 20px;
}
