<div>
  <% results.each do |item| %>
    <article>
      <hgroup>
        <h3><a href="result/<%= item[:id] %>"><%= item[:name] %></a></h3>
        <p>Item was added: <%= time_ago_in_words(item[:date]) %> ago</p>
      </hgroup>

      <p><%= item[:description] %></p>
    </article>
  <% end %>
</div>
